{% if visitInfo.getColumn('weather_condition') or visitInfo.getColumn('weather_cloud') or visitInfo.getColumn('weather_temperature') or visitInfo.getColumn('weather_felt_temperature') or visitInfo.getColumn('weather_precipitation') or visitInfo.getColumn('weather_humidity') or visitInfo.getColumn('weather_pressure') or visitInfo.getColumn('weather_uv') or visitInfo.getColumn('weather_visibility') or visitInfo.getColumn('weather_wind_direction') or visitInfo.getColumn('weather_wind_speed') %}
    <div class="weather-reports-visitor-log-details" style="margin-top: .75rem;">
        <span style="font-size: .875rem; font-weight: 500;">{{ 'WeatherReports_Weather'|translate }}</span>
        <ul>
            {% if visitInfo.getColumn('weather_condition') %}
                <li>
                    {{ 'WeatherReports_Condition'|translate }}:
                    <span class="weather-reports-value">{{ visitInfo.getColumn('weather_condition') }}</span>
                </li>
            {% endif %}
            {% if visitInfo.getColumn('weather_cloud') %}
                <li>
                    {{ 'WeatherReports_Cloud'|translate }}:
                    <span class="weather-reports-value">{{ visitInfo.getColumn('weather_cloud') }}</span></li>
            {% endif %}
            {% if visitInfo.getColumn('weather_temperature') %}
                <li>
                    {{ 'WeatherReports_Temperature'|translate }}:
                    <span class="weather-reports-value">{{ visitInfo.getColumn('weather_temperature') }}</span>
                </li>
            {% endif %}
            {% if visitInfo.getColumn('weather_felt_temperature') %}
                <li>
                    {{ 'WeatherReports_FeltTemperature'|translate }}:
                    <span class="weather-reports-value">{{ visitInfo.getColumn('weather_felt_temperature') }}</span>
                </li>
            {% endif %}
            {% if visitInfo.getColumn('weather_precipitation') %}
                <li>
                    {{ 'WeatherReports_Precipitation'|translate }}:
                    <span class="weather-reports-value">{{ visitInfo.getColumn('weather_precipitation') }}</span>
                </li>
            {% endif %}
            {% if visitInfo.getColumn('weather_humidity') %}
                <li>
                    {{ 'WeatherReports_Humidity'|translate }}:
                    <span class="weather-reports-value">{{ visitInfo.getColumn('weather_humidity') }}</span>
                </li>
            {% endif %}
            {% if visitInfo.getColumn('weather_pressure') %}
                <li>
                    {{ 'WeatherReports_Pressure'|translate }}:
                    <span class="weather-reports-value">{{ visitInfo.getColumn('weather_pressure') }}</span>
                </li>
            {% endif %}
            {% if visitInfo.getColumn('weather_uv') %}
                <li>
                    {{ 'WeatherReports_Uv'|translate }}:
                    <span class="weather-reports-value">{{ visitInfo.getColumn('weather_uv') }}</span></li>
            {% endif %}
            {% if visitInfo.getColumn('weather_visibility') %}
                <li>
                    {{ 'WeatherReports_Visibility'|translate }}:
                    <span class="weather-reports-value">{{ visitInfo.getColumn('weather_visibility') }}</span>
                </li>
            {% endif %}
            {% if visitInfo.getColumn('weather_wind_direction') %}
                <li>
                    {{ 'WeatherReports_WindDirection'|translate }}:
                    <span class="weather-reports-value">{{ visitInfo.getColumn('weather_wind_direction') }}</span>
                </li>
            {% endif %}
            {% if visitInfo.getColumn('weather_wind_speed') %}
                <li>
                    {{ 'WeatherReports_WindSpeed'|translate }}:
                    <span class="weather-reports-value">{{ visitInfo.getColumn('weather_wind_speed') }}</span>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}